@import url("https://fonts.googleapis.com/css?family=Saira+Condensed");
body {
  width: 100%;
  margin: 0;
  overflow: hidden;
  font-family: 'Saira Condensed', sans-serif;
  background: black;
}

#note {
  bottom: 50%;
  left: 40%;
  position: absolute;
  color: white;
  font-weight: bold;
  background: black;
  padding: 1em;
  text-align: center;
  width: 300px;
}